/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

._3vot{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	background-color: #EFF1F0;
}

.header {
 color: #fff;
 border: 1px solid #bbc0c4;
 border-radius: 5px;
 background: -moz-linear-gradient(#2a93d5,#107abb);
 background: -webkit-linear-gradient(#2a93d5,#107abb);
 background: -ms-linear-gradient(#2a93d5,#107abb);
 background: linear-gradient(#2a93d5,#107abb);
 }